@charset "utf-8";
/* CSS Document */

.page-header{
	background:url('') repeat-x #dbdbdb;
	}
 
 
.head-text{
		float:right;
		color:#087959;
		margin-top:45px;
	}
	
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	
	width:100%; 
	height:300px;
	
	}	